:root {
  --clr-green-shade-1: #10ac10;
}

.app-wrapper {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.main-title {
  font-size: var(--fs-xss);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  letter-spacing: -0.05em;
  max-width: 14ch;
  line-height: 0.85;
}

.wrapper-github {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1em;
  border: 2px solid #000;
}

.img-github {
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 100vmax;
}

.link-github {
  font-size: var(--fs-xss);
  text-decoration: underline;
  color: var(--clr-green-shade-1);
}

.main-content {
  margin-top: 4rem;
}

.title-secondary {
  font-size: var(--fs-xs);
  font-weight: var(--fw-400);
}

.main-sec-content {
  --brdr-val: 1em;
  margin-top: 2rem;
  border: 2px solid #000;
  height: 400px;
  overflow-y: scroll;
  padding: 1rem;
  border-top-left-radius: var(--brdr-val);
  border-bottom-left-radius: var(--brdr-val);
}

/* Scrollbar */
.main-sec-content::-webkit-scrollbar {
  width: 8px;
}

/* .main-sec-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(255, 255, 255, );
} */

.main-sec-content::-webkit-scrollbar-thumb {
  background-color: var(--clr-green-shade-1);
  outline: 1px solid var(--clr-green-shade-1);
}

.main-sec-content > * + * {
  margin-top: 2rem;
}

.main-block > * + * {
  margin-top: 0.5rem;
}

.sec-content-title {
  font-size: var(--fs-xs);
  font-weight: var(--fw-600);
  font-style: italic;
  text-decoration: underline;
  letter-spacing: -0.05em;
  padding-right: 1.5rem;
}

.sec-content-description {
  font-size: var(--fs-xss);
  font-weight: var(--fw-300);
  letter-spacing: -0.05em;
  font-style: italic;
  max-width: 60ch;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.footer-link {
  text-decoration: underline;
  color: var(--clr-green-shade-1);
}

/* Xs */
@media (min-width: 475px) {
  .main-title {
    font-size: var(--fs-md);
  }

  .wrapper-github {
    padding: 0.5rem 1rem;
  }

  .sec-content-title {
    font-size: var(--fs-sm);
  }

  .sec-content-description {
    font-size: var(--fs-xs);
  }
}

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */
